#resume{
    border: .5px solid lightgrey;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    position: absolute;
    width: 60%;
  height: 55%;
  left: 20%;
  position: absolute;
  top: 25%
}
