
#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}
#resume{
    border: .5px solid lightgrey;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    margin: auto;
    margin-bottom: 20px;
}
.bg-light{
    margin-bottom: 40px;
}
.navbar-brand, .mainheader{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 90;
}
.navbar-toggler, .dropdown-item, #navbarDropdownMenuLink, .nav-item, .nav-link{
    font-family: 'Mulish', sans-serif;
}
section, .contactsection{
    /* background-image: url("/Assets/Images/backgrounf.jpg");  */
    background-size: cover;
}

#mainheader{
    padding-left: 10px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 90;
    padding-top: 10px;
    border-bottom: .5px solid lightgray;
}
.card{
    margin: auto;
    padding: 3px;
}
#projectcard{
    margin-top:5px;
    margin-bottom: 5px;
}
.card-text1{
    font-family: 'Baloo Tamma 2', cursive;
}
.card-text{
    font-family: 'Mulish', sans-serif;
}
.sabinebio{
    font-family: 'Mulish', sans-serif;

}
.sabinebio1{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
}
.contactcontent{
    padding-bottom: 75px;
}
.homepagename{
    font-family: 'Baloo Tamma 2', cursive;
        border-bottom: .5px solid lightgray;
}
.sabinepic{
    max-width: 40%; 
    display:block; 
    height: auto;
    max-height: 200px;
    float: left;
    margin-right: 10px;
}
.fa{
    padding:20px;
    transform: scale(2,2); 
    color: black;
}
.btn{
    margin: 3px;
}
