
#aboutcontainer{
    border: .5px solid lightgrey;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    position: absolute;
    width: 60%;
  height: 55%;
  left: 20%;
  position: absolute;
  top: 25%
}

.sabinebio1{
    font-size: 14px;
} 

.homepagename{
    font-family: 'Baloo Tamma 2', cursive;
        border-bottom: .5px solid lightgray;
} 
 .sabinepic{
    max-width: 40%; 
    display:block; 
    height: auto;
    max-height: 200px;
    float: left;
    margin-right: 10px;
}
.fa{
    padding:5px;
    transform: scale(2,2); 
    color: black;
}

