#contactform{
    border: .5px solid lightgrey;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    position: absolute;
    width: 60%;
  height: 45%;
  left: 20%;
  position: absolute;
  top: 25%
}
.bg-light{
    margin-bottom: 40px;
}

#mainheader{
    padding-left: 10px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 90;
    padding-top: 10px;
    border-bottom: .5px solid lightgray;
}
.card{
    margin: auto;
    padding: 3px;
}
.contactcontent{
    padding-bottom: 75px;
}
.fa{
    padding:20px;
    transform: scale(2,2); 
    color: black;
}
.btn{
    margin: 3px;
}
